<h1> Places List </h1>

<ul>
  <% @places.each() do |place| %>
  <li><%= place %></li>
  <% end %>
</ul>

 <form action="/places" method="post">
  <div class="form-group">
     <label for="destination">Add places you've been to!</label>
     <input name="destination" class="form-control" type="text">
  </div>
  <hr>
  <button type="submit">Add me</button>
</form>
